
Lecture/1_Intro_EnvEpi.pptx
2_EPIB685-Cohort_studies_part1_2022jan14.pptx
GIS/TestQGIS.qgz
GIS/TestQGIS_NO2.qgz

*.jpeg 
.Rhistory
.RData
seatbelttest.R
Rcode-Revised jR.R
Codes/.Rhistory
Codes/.Rhistory
Codes/.Rproj.user/28EFA4E6/pcs/files-pane.pper
Codes/Codes.Rproj
Codes/.Rproj.user/*
Codes/.Rhistory
.Rproj.user
Codes/.Rhistory
*.png
*.png
*.png
*.png
Codes/TS_AssignmentTest_Baltimore.Rmd
Codes/time_series.R
Codes/time_series_spline.R
Codes/TS_JuwelInitialEdit.R
*.png
/Codes/TS_files
*.png
/Codes/TS_files
*.png
Codes/Assignment3-1_Answer.Rmd
Codes/Assignment3-1.html
Codes/Assignment3-1_Answer.html
Codes/Assignment3-2/FSA_GASTRO.csv
Codes/dataDir/gfsa000a11a_e.dbf
Codes/dataDir/gfsa000a11a_e.prj
Codes/dataDir/gfsa000a11a_e.shp
Codes/dataDir/gfsa000a11a_e.shx
Codes/dataDir/gfsa000b11a_e.dbf
Codes/dataDir/gfsa000b11a_e.prj
Codes/dataDir/gfsa000b11a_e.shp
Codes/dataDir/gfsa000b11a_e.shx
Codes/dataDir/92-179-g2011001-eng.pdf
*.pdf
*.docx
*.xml
*.sbx
*.sbn
*.clean
*.Rproj
Codes/Assignment3-2/giStandardization.R
Codes/Assignment3-2/Module3_Instruction_hm.R
Codes/Assignment3-2/data/GASTRO.csv
Codes/Assignment3-2/prep_data/GASTRO.csv
Codes/Assignment3-2/Assignment3-2Answers.html
Codes/Assignment3-2/Assignment3-2Answers.Rmd
Codes/Assignment3-2/prep_data/giStandardization.R
Codes/Assignment3-2/prep_data/fsa_ses_2011_cs_torontocustomtabulation_expanded.csv
Codes/Assignment3-2/prep_data/fsa_age_sex_QC.csv
Codes/Assignment3-2/covidData/covid_cases.csv
Codes/Assignment3-2/data/fsa_age_sex_QC.csv
Codes/Assignment3-2/covidData/census.rds
Codes/Assignment3-2/covidData/covid_cases.csv
Codes/Assignment3-2/prep_data/FSA_Montreal_2001/shapefile_FSA_Montreal_2001.dbf
Codes/Assignment3-2/prep_data/FSA_Montreal_2001/shapefile_FSA_Montreal_2001.prj
Codes/Assignment3-2/prep_data/FSA_Montreal_2001/shapefile_FSA_Montreal_2001.shp
Codes/Assignment3-2/prep_data/FSA_Montreal_2001/shapefile_FSA_Montreal_2001.shx
Codes/Assignment3-2/prep_data/Hospitals_Montreal_2011/shapefile_Hospitals_Mtl.cpg
Codes/Assignment3-2/prep_data/Hospitals_Montreal_2011/shapefile_Hospitals_Mtl.dbf
Codes/Assignment3-2/prep_data/Hospitals_Montreal_2011/shapefile_Hospitals_Mtl.prj
Codes/Assignment3-2/prep_data/Hospitals_Montreal_2011/shapefile_Hospitals_Mtl.qpj
Codes/Assignment3-2/prep_data/Hospitals_Montreal_2011/shapefile_Hospitals_Mtl.shp
Codes/Assignment3-2/prep_data/Hospitals_Montreal_2011/shapefile_Hospitals_Mtl.shx
Codes/CanadaFSA.zip
Codes/fsaFolder/gfsa000b11a_e.dbf
Codes/fsaFolder/gfsa000b11a_e.prj
Codes/fsaFolder/gfsa000b11a_e.shp
Codes/fsaFolder/gfsa000b11a_e.shx
Codes/Assignment3-2/covidData/covid_cases.csv
Codes/Assignment3-2/covidData/census.rds
Codes/Assignment3-2/covidData/covid_cases.csv
Codes/Assignment3-2/tempFolder/gfsa000b11a_e.dbf
Codes/Assignment3-2/tempFolder/gfsa000b11a_e.prj
Codes/Assignment3-2/tempFolder/gfsa000b11a_e.shp
Codes/Assignment3-2/tempFolder/gfsa000b11a_e.shx
Codes/Assignment3-2/CanadaFSA.zip
Codes/Assignment3-2/data/fsa_age_sex_QC.csv
Codes/Assignment3-2/data/fsa_age_sex_QC.csv
Codes/Assignment3-2/data/fsa_age_sex_QC.csv
